# virtual environment
venv/
env/

# Compiled Python files
__pycache__/

# Logs and databases
*.log
*.db

# Dependency directories
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# # IDE and editor files
# .idea/
# .vscode/

# Local development settings
.env

# Ignore Python cache directories
__pycache__/
